/* encapsulate our css to the demonstration */
#carousel {
    .carousel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .carousel-zone {
        grid-area: track;
    }

    .row-1 {
        display: grid;
        grid-template-columns: 10vw 70vw 10vw;
        grid-template-rows: auto;
        grid-template-areas:
            "prev track next";
    }

    .prev {
        grid-area: prev;
    }

    .next {
        grid-area: next;
    }

    .next,
    .prev {
        justify-content: center;
    }

    .carousel-track {
        display: flex;
        justify-content: center;
    }

    .carousel-slide[aria-hidden="true"] {
        display: none;
    }

    .carousel-control {
        font-size: 1.2em;
        cursor: pointer;
        width: fit-content;
        height: fit-content;
        justify-self: center;
        align-self: center;
    }

    .carousel-dots {
        display: flex;
        justify-content: center;
        gap: calc(3 * max(0.05rem, 2px));
        margin-top: 10px;

        .dot {
            width: max(0.25rem, 24px);
            height: max(0.25rem, 24px);
            background: transparent;
            border: 0.15rem solid black;
            border-radius: 50%;

            &[aria-pressed="true"] {
                background: black;
            }

            &:focus {
                outline: 0.15rem solid black;
                outline-offset: max(0.05rem, 2px);
            }
        }
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }
}